# Telegram Bot
BOT_TOKEN=YOUR_BOT_TOKEN_HERE
ADMIN_ID=YOUR_ADMIN_ID_HERE

# MongoDB Atlas
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/inventory_bot?retryWrites=true&w=majority

# Server
PORT=5000